.link-wipe-animation {
  background-image: linear-gradient(to right, #54b3d6, #54b3d6 50%, #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.link-wipe-animation:before {
  content: "";
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.link-wipe-animation:hover {
  background-position: 0;
}

.link-wipe-animation:hover::before {
  width: 100%;
}

/* typewriter cursor */
/* .typewriter-cursor {
  display: inline-block;
  width: 4px;
  height: 1em;
  background: black;
  margin-left: 4px;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  50.01%,
  100% {
    opacity: 0;
  }
} */
